<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }} :: {{ site.title }}</title>

    <meta charset="UTF-8" />

    <script type="text/javascript" src="/js/mootools-core-1.4.4.js"></script>
    <script type="text/javascript" src="/js/mootools-more-1.4.0.1.js"></script>
    <script type="text/javascript" src="/js/application.js"></script>

    <link rel="stylesheet" type="text/css" href="http://assets.gammazeta.net/fonts/gust-tg/heros/stylesheet.css" />
    <link rel="stylesheet" type="text/css" href="/css/global.css" />
    <link rel="stylesheet" type="text/css" href="/css/stendig.css" />

    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ site.url }}/rss.xml" />

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-27144583-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>
  <body onload="initialize()">
    <div id="root" class="{{ page.slug }}">
      <div id="header">
        <h1><a href="/"><img height="45" width="262" src="/images/title-white.png" alt="{{ site.title }}" title="{{ site.description }}" /></a></h1>
        <h2>{{ site.tagline }}</h2>
      </div>

      <div id="navigation">
        <a href="/">Home</a>
        <a href="/projects">Projects</a>
        <a href="/posts">Posts</a>
        <a href="/about">About</a>
        <span class="clear">&nbsp;</span>
      </div>


      <div id="content">
        {{ content }}
        <span class="clear">&nbsp;</span>
      </div>

      <div id="footer">
        &copy; {{ site.time | date: '%Y' }} Gary Hetzel.  Rights: I reserve them.
      </div>
    </div>

    <!-- outbrain key -->
    <input type="hidden" name="OBKey" value="NDNfy+Bop4CRVKcZTI//6g=="/>
    <script LANGUAGE="JavaScript">
      var OBCTm='1339704163454';
    </script>
    <script LANGUAGE="JavaScript" src="http://widgets.outbrain.com/claim.js"></script>
  </body>
</html>
